sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://cnpmjs.org/downloads
electron_mirror=https://npm.taobao.org/mirrors/electron/
registry=https://registry.npmmirror.com/
@share:registry=http://192.168.0.62:7001/
@mshare:registry=http://192.168.0.62:7001/
@yo:registry=http://192.168.0.62:7001/
@third:registry=http://192.168.0.62:7001/
@social:registry=http://192.168.0.62:7001/